.complaints {
  background: #FFFFFF;

  .content {
    margin-top: 40px;

    .top {
      padding: 10px 10px;

      .top-title {
        color: #000000;
        font-size: 20px;
        font-weight: bold;
      }
      .top-content {
        margin-top: 8px;
        height: 22px;
        font-size: 14px;
        line-height: 22px;

        .periods {
          display: inline-block;
          color: #FFFFFF;

          width: 110px;
          text-align: center;
          background: #40a9ff;
        }
        .topProgram {
          font-size: 14px;
          display: inline-block;
          margin-left: 10px;
          width: 80px;
          color: #40a9ff;
          text-align: center;
          border: 1px solid #40a9ff;
          box-sizing: border-box;
        }
      }

    }

    .item {
      margin-bottom: 20px;
      padding: 0 10px;
      border-bottom: 1px solid #DDDDDD;
    }

    .avator {
      width: 40px;
      height: 40px;
    }
    .user-text {
      margin-left: 10px;
      margin-top: 30px;
    }
    .content {
      margin-top: 10px;
      padding: 10px;
      position: relative;

      background: #ECECEC;
      border-radius: 5px;
    }

    .content-icon {
      position: absolute;
      top: -15px;
      left: 10px;

      border-width: 8px;
      border-style: solid;
      border-color: transparent transparent #ECECEC transparent;
    }

    .images {
      padding: 5px 0;
    }
    .image {
      display: inline-block;
      margin-top: 5px;
      margin-right: 5px;
      height: 109px;
      width: 109px;
      overflow: hidden;
      border: 2px solid #DDDDDD;

    }
    .img {
      height: 100%;
      width: 100%;
    }

    .reply {
      margin-bottom: 15px;
      padding: 15px;
      position: relative;

      color: #FFFFFF;
      background: #23A6DD;
      border-radius: 10px;
      font-family: Microsoft Yahei;
      border: 1px solid rgba(255, 255, 255, 0);

    }

    .reply-hr {
      display:flex;
      justify-content: space-between;
    }

    .reply-content {
      padding-top: 5px;
    }
    /*.user {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    .user-top {
      display: flex;
      align-items: center;
    }


    .content-icon-hr {
      position: absolute;
      top: px(-44);
      right: px(20);

      border-width: px(30);
      border-style: solid;
      border-color: transparent transparent #23A6DD transparent;

      .hr {
        right: px(20);
        border-color: transparent transparent #23A6DD transparent;
      }
    }



    */
  }
}