.head{
  height: 124px;
  display:flex;
  align-items: center;
  background:#2D3339;
}

.logo{
  width:310px;
  height: 52px;
  margin-left:40px;
}
.head-menu{
  border-top:solid 1px #fff /*no*/;
  border-bottom:solid 1px #fff/*no*/;
  width: 32px;
  height: 12px;
  margin-left: 340px;
}